* {
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1,
h2 {
  margin: 0;
}

header,
section,
article,
div {
  box-sizing: border-box;
}

img {
  max-width: 100%
}

/*
 *
 * Header
 *
 */

header {
  /*margin: 0 10px;*/
  /*max-width: 750px;*/
}

.header__inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 55px;
  margin: 12px 0 1em;
  border-bottom: medium solid gray;
}

.header__logo {
  height: 60px;
  width: 60px;
}

.header__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  /*margin: 12px 0.25em;*/ /*TODO*/
  color: #212121;
  text-align: right;
}

.header__name {
  font-weight: 100;
  font-size: 0.9em;
}

.header__title {
  font-weight: 400;
  font-size: 0.6em;
}

.header__social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.header__link {
  text-decoration: none;
}

.header__social-icon {
  height: 14px;
  width: 14px;
  margin-right: 0;
  margin-top: 6px;
}

.header__banner {
  width: 100%;
  position: relative;
  background-image: url("../images/Wikimedia_Servers-0051_13.jpg");
  background-size: cover;
  background-position: center;
  height: 75px;
  margin-bottom: 1em;
  filter: grayscale(100%);
}

/*
 *
 * Main -- project work
 *
 */

main {
  margin: 0 10px 1em;
}

.project__heading {
  font-size: 1.25em;
  font-weight: 400;
  color: gray;
  margin-bottom: 10px;
}

/*
 *
 * Flex Container
 *
 */

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.project {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1em 5px 5px;
  height: 280px;
  width: 204px;
  padding: 0px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}

.project__image-wrapper {
  display: flex;
  height: 204px;
  width: 204px;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
}

.project__image {
  height: 144px;
  width: 144px;
}

.project__infobox {
  display: flex;
  flex-direction: column;
  flex: 1 1 100px;
  justify-content: space-between;
  align-items: center;
  min-width: 204px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background-color: white;
  margin: 0 0;
}

.project__title {
  font-size: 1.8em;
  font-weight: 400;
  text-align: center;
  margin-top: .4em;
  margin-bottom: 0.4em;
  color: black;
}

.project__link {
  text-align: left;
}

.project__link-icon {
  height: 40px;
}

/*
 *
 * Credits
 *
 */

footer {
  margin-top: 3em;
  margin-bottom: 1em;
  border-top: medium solid gray;
}

.footer__inner {
  margin: 4px;
}

.footer__header {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
}

.credits {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.credit {
  font-size: 10px;
  color: gray;
  width: 350px;
}

.footer__link {
  color: gray;
}

/*
 *
 * Responsive Properties
 *
 */

@media screen and (min-width: 255px) {
  .header__inner {
    min-height: 65px;
  }

  .header__logo {
    height: 60px;
    width: 60px;
  }

  .header__name {
    font-size: 1.5em;
  }

  .header__title {
    font-size: 0.75em;
  }

  .header__banner {
    height: 100px;
  }

  .project__heading {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 315px) {
  .header__inner {
    min-height: 85px;
  }

  .header__logo {
    height: 80px;
    width: 80px;
  }

  .header__name {
    font-size: 2em;
  }

  .header__title {
    font-size: 1em;
  }

  .header__social-icon {
    height: 21px;
    width: 21px;
    margin-right: 0;
    margin-top: 6px;
  }

  .header__banner {
    height: 150px;
  }

  .project__heading {
    font-size: 2em;
  }
}

@media screen and (min-width: 412px) {
  .header__inner {
    min-height: 120px;
  }

  .header__name {
    font-size: 2.5em;
  }

  .header__title {
    font-size: 1.3em;
  }

  .header__social-icon {
    height: 41px;
    width: 41px;
    margin-right: 0;
    margin-top: 6px;
  }

  .header__banner {
    height: 200px;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 760px) {
  header {
    width: 760px;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    width: 760px;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    width: 760px;
    margin-left: auto;
    margin-right: auto;
   }
}

